body {
  font-family: "Open Sans", sans-serif;
  height: auto;
  margin: 20px;
  background-color: #1c1c1c;
  color: #cecece;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 128px;
}


header {
  position: relative;
  border-bottom: 2px solid #cecece;
  margin-bottom: 0px;
}

h1 {
  margin: 0;
}

.header-icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  align-self: auto;
}

.link-icons {
  padding-right: 10px;
  padding-left: 10px;
  align-self: auto;
}

.link-icons a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 24px;
  padding-right: 10px;
  color: #828282;
}

.link-icons a:hover {
  color: #89CFF0;
}

body.light-mode {
  background-color: #cecece;
  color: #1c1c1c;
}

body.dark-mode {
  background-color: #1c1c1c;
  color: #cecece;
}

body.light-mode header {
  border-bottom: 2px solid #1c1c1c;
}

body.dark-mode .header-icons a {
  color: #cecece;
}

section {
  margin-bottom: 30px;
}


.language,
.programming-languages {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  list-style: none;
}

.darkmode-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.15em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.darkmode-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .darkmode-button {
    padding: 0.25em 0.75em;
  }
}

section {
  text-align: center;
}

#profile-div {
  display: flex;
  flex-direction: row;
}

.profile-text {
  flex: 1;
  margin: auto;
}

.pb {
  margin: 20px;
  border-radius: 15px;
}

#profile {
  margin-bottom: 200px;
}

/*---LIGHTMODE SIDEBAR---*/

body.light-mode .sidebar i {
  color: #cecece;
height: 60px;
min-width: 50px;
font-size: 28px;
text-align: center;
line-height: 60px;
}

body.light-mode .sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
body.light-mode .sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

body.light-mode .sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100%-15px);
  z-index: 3;
  background: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

body.light-mode .sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  left: 105%;
  transform: translateY(-50%);
}

body.light-mode .sidebar.open li .tooltip{
  display: none;
}

body.light-mode .sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 92px;
  background: #1c1c1c;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5 ease;
  border-right: 2px solid #111111;
}

body.light-mode .sidebar.open {
  width: 250px;
  border-right: 2px solid #111111;
}

body.light-mode .sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

body.light-mode .sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

body.light-mode .sidebar .logo-details .logo_name{
  color: #cecece;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5 ease;
  padding-right: 10px;
}

body.light-mode .sidebar.open .logo-details .icon,
body.lightmode .sidebar.open .logo-details .logo_name {
  opacity: 1;
}

body.light-mode .sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

body.light-mode .sidebar.open .logo-details #btn{
  text-align: right;
}

body.light-mode .sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #111111;
  border: 2px solid #111111;
}

body.light-mode .sidebar li a:hover {
  background: #cecece;
}

body.light-mode .sidebar li a .links_name{
  color: #cecece;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

body.light-mode .sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

body.light-mode .sidebar li a:hover .links_name,
body.lightmode .sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #1c1c1c;
}

body.light-mode .sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  border-radius: 12px;
}

/*---DARKMODE SIDEBAR---*/

.sidebar i {
  color: #1c1c1c;
height: 60px;
min-width: 50px;
font-size: 28px;
text-align: center;
line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100%-15px);
  z-index: 3;
  background: #000;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  left: 105%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 92px;
  background: #cecece;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5 ease;
  border-right: 2px solid #EEE;
}

.sidebar.open {
  width: 250px;
  border-right: 2px solid #EEE;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name{
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5 ease;
  padding-right: 10px;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn{
  text-align: right;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #c6c6c6;
  border: 2px solid #C1C1C1;
}

.sidebar li a:hover {
  background: #1c1c1c;
}

.sidebar li a .links_name{
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #cecece;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  border-radius: 12px;
}

/*https://uiverse.io/Galahhad/strong-squid-82*/

.theme-switch {
  --toggle-size: 12px;
  /* the size is adjusted using font-size,
     this is not transform scale,
     so you can choose any size */
  --container-width: 5.625em;
  --container-height: 2.5em;
  --container-radius: 6.25em;
  /* radius 0 - minecraft mode :) */
  --container-light-bg: #3D7EAE;
  --container-night-bg: #1D1F2C;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ECCA2F;
  --moon-bg: #C4C9D1;
  --spot-color: #959DB1;
  --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
  --stars-color: #fff;
  --clouds-color: #F3FDFF;
  --back-clouds-color: #AACADF;
  --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius)
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}

.theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
  bottom: -4.062em;
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.word {
  margin: auto;
  color: #fb6666;
  text-shadow: 1px 1px #222324, 1px 1px #222324, 1px 1px #222324;
  white-space: normal;
  display: inline;
}

.slogan{
  text-align: left;
  padding-left: 10rem;
  padding-right: 10rem;
}

/*Timeline*/

#experience {
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #fb6666;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -5rem;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  color: #1c1c1c;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: -5rem;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.skillbar {
  width: 80%; /* Full width */
  background-color: #cecece; /* Grey background */
  margin-left: 10%;
  margin-right: 10%;
}

body.light-mode .skillbar {
  width: 80%; /* Full width */
  background-color: #1c1c1c; /* Grey background */
  margin-left: 10%;
  margin-right: 10%;
}


.skills {
  text-align:center; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: #cecece; /* White text color */

}

.java {width: 90%; background-color: #fb6666;}
.python {width: 80%; background-color: #fb6666;} 
.js {width: 80%; background-color: #fb6666;}
.sql {width: 75%; background-color: #fb6666;} 
.html {width: 70%; background-color: #fb6666;} 
.css {width: 70%; background-color: #fb6666;} 
.cplus {width: 60%; background-color: #fb6666;} 
.xml {width: 60%; background-color: #fb6666;} 
.r {width: 40%; background-color: #fb6666;} 


p1{
  font-weight: bold;
}

.skillbar{
  margin-top: 10px;
  margin-bottom: 10px;
}

.checked {
  color: orange;
}

.languagestable {
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.languagestable td, .languagestable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.languagestable tr:nth-child(-n + 1){background-color: #f2f2f2;}

.languagestable tr:hover {background-color: #ddd;}

.languagestable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #cecece;
  color: #1c1c1c;
}

body.light-mode .languagestable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #1c1c1c;
  color: #cecece;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.contentSkill {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color:#1c1c1c
}
.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}

body.light-mode h2, body.light-mode h3{
  color: #1c1c1c;
}
